doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _header.pug
    
    div#app 
    img(src=require('../images/icon.png') alt="icon")
    img(src=require('../images/thumbnail.jpg') alt="thumbnail")


