doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Webpack Pug Template
  body
    h1 Hello, Pug!!!!!!
    h2 This is a Pug test!!!
    p#RED scssのテスト
    div#react-root
    div#vue-root
    div#app  // Three.jsのキャンバス用コンテナを追加
    img(src=require('../images/icon.png') alt="icon")
    img(src=require('../images/thumbnail.jpg') alt="thumbnail")


